
services:
  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.backend-auth
    container_name: backend
    expose:
      - "8080"

    ports:
      - "8080:8080"
    env_file:
      - ./apps/backend-auth/.env.local
    networks:
      - appnetwork

  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.web
      
    container_name: web
    ports:
      - "3000:3000"
    expose:
      - "3000"  
    depends_on:
      - backend
  
    env_file:
      - ./apps/web/.env.local

    networks:
      - appnetwork
networks:
  appnetwork: